:root{
    --primary: #032349;
    --secondary: #0353A4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
    height: 100vh;
}

#header{
    text-align: center;
    
}

h1{
    font-size: 2.5rem;
    padding-top: 2rem;
}

.container{
    max-width: 1024px;
    margin: 1.25rem auto;
}

#title-login{
    text-align: center;
    padding-top: 1rem;
}

.form-container{
    max-width: 540px;
    margin: 10px auto;
}

.form-content{
    display: flex;
    flex-direction: column;
    margin: 20px 25px ;
}

.form-content input{
    padding: 10px;
    margin: 10px 0;
}

.button-section{
    text-align: center;
}

.button-section button{
    padding: 5px 30px;
    background-color: var(--primary);
}

footer{
    text-align: center;
}