:root{
    --primary: #032349;
    --secondary: #0353A4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
    height: 100vh;
}
#header{
    text-align: center;
    
}

h1{
    font-size: 2.5rem;
    padding-top: 2rem;
}